<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 50.473%;">**** ** cause&nbsp;</td>
                <td style="width: 49.527%;">Faute commise</td>
            </tr>
            <tr>
                <td style="width: 50.473%;" rowspan="2">Nom:<br>Prenom:<br>Ne(e) le :<br>Lieu de naissance:<br>Domicile:<br>Occupation:<br><br>Observations:</td>
                <td style="width: 49.527%;"><br><br><br><br><br><br><br><br><br><br></td>
            </tr>
            <tr>
                <td style="width: 49.527%;">Personne inform&eacute;e de l&apos;incident:</td>
            </tr>
            <tr>
                <td style="width: 50.473%;">Vu Arrêtés du président : Arrêté 095-2006; Arrêté 022/2009; Arrêté 054/2009 et 075/2009 ; Arrêté 100/2009; Arrêté A-105/2011 ; Arrêté A-405/2013 ; Arrêté A-005/2016; Arrêté A-1038/2016; Arrêté Arrête A-1254/2016; Arrêté A-1991/2019 et Arrêté A-2728/2021.<br><br>
                    <strong>Vu Textes à appliquer</strong> : Article 417-10 alinéa 2 du code de la route; Article 417-11 alinéa 1 du code de la route; Article L.2241-1 du code des transports ; Article R 3124-12 du code des transports; Article R 221-10 et R 221-11 du code de la route ; Article L 3124-4 du code des transports; Article L 324-2 du code de la route; Article R323-26 du code de la route
                </td>
                <td style="width: 49.527%;">Chef d&apos;equipe<br>Responsible UCV</td>
            </tr>
        </tbody>
    </table>
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 50%;">Immatriculation:</td>
                <td style="width: 50%;">&nbsp;Type et marque:</td>
            </tr>
        </tbody>
    </table>
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 100.0000%;">Couleur de v&eacute;hicule:</td>
            </tr>
        </tbody>
    </table>
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 33.3333%;">
                    <div style="text-align: center;">Visa de(s) agent(s)</div>
                    <p><br></p>
                    <p><br></p>
                </td>
                <td style="width: 33.3333%;">
                    <div style="text-align: center;">Visa du N + 1</div>
                    <p><br></p>
                    <p><br></p>
                </td>
                <td style="width: 33.3333%;">
                    <div style="text-align: center;">Visa Responsable UCV</div>
                    <p><br></p>
                    <p><br></p>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 50.0000%;">
                    <div style="text-align: center;">Visa Chef de Service</div>
                    <div style="text-align: center;">Activite Regelementes</div>
                    <p><br></p>
                    <p><br></p>
                </td>
                <td style="width: 50.0000%;">
                    <div style="text-align: center;">**** de ** Directrice</div>
                    <div style="text-align: center;">Transport ** Regelementations</div>
                    <p><br></p>
                    <p><br></p>
                </td>
            </tr>
        </tbody>
    </table>
    
    <!-- Add your "Chef d'équipe" and "Responsible UCV" with more margin and checkbox -->
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 50.473%; padding-left: 20px;">
                    <input type="checkbox" id="chefEquipeCheckbox">
                    <label for="chefEquipeCheckbox">Chef d&apos;equipe</label><br>
                    <input type="checkbox" id="responsibleUCVCheckbox">
                    <label for="responsibleUCVCheckbox">Responsible UCV</label>
                </td>
                <td style="width: 49.527%;">Other content</td>
            </tr>
        </tbody>
    </table>
    
    <div style="color: red; font-size: 12px; width: 600px; margin: 0 auto; text-align: center;">Created with <a href="https://wordtohtml.net/">WordToHTML.net</a> trial.</div>
    
</body>
</html>